<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/_site/assets/main.css" />
    <title>Blog - {{ site.title }}</title>
  </head>
  <body>
 {% include navbar.html %} 
 <section id="blog-featured" class="my-5">
  <div class="container">
  <a href="{{ post.url }}">
  <div class="row bg-tertiary">
  <div class="col-md-6 text-center align-self-center">
  <div class="container my-auto">
  <p>Recent cocktails</p>
  <p class="lead font-weight-bold">
  {{ post.title }}
  </p>
        </div>
      </div>
    </section>
  </body>
</html>
